{{!-- full map view --}}

<div id="sightings-modal" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
        <p id="time"></p>        
        <p id="city"></p>
        <p id="summary"></p>
        <p id="shape"></p>
        <a href="#comments" id="leave-comment">Leave a comment</a>
        <div class="sightings-nav" id="previous-sighting">&lt; previous</div>
        <div class="sightings-nav" id="next-sighting">next &gt;</div>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>

<script src="/js/helpers/sightings-modal.js"></script>
<script type="module" src="/js/d3-observable.js"></script>