{{!-- individual sighting view --}}
{{!-- <div id="sightings-modal" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box"> --}}
<p>{{sightings.[0]}}</p>
    {{!-- </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div> --}}

<script src="/js/sightings-modal.js"></script>