* {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    background-color: black;
}

.observablehq {
    background-color: black;
}

.navbar {
    background-color: transparent;
    padding: 10px;
}

.title {
    color: #15fc12;
    font-family: 'Orbitron', sans-serif;
}

.observablehq p {
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
}

.observablehq--inspect {
    display: none;
}

.sightings-nav {
    cursor: pointer;
    width: fit-content;
    display: inline;
}

.field, .content, #comment-list {
    width: 40%;
}

.login-input {
    margin-top: 400px;
}

#login, #logout {
    cursor: pointer;
}

#city {
    font-size: 6 rem;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: #15fc12;
    padding: 16px;
    
}

#previous-sighting,#next-sighting {
    font-size: rem 8;
    font-weight: bold;
}

#next-sighting{
    float: right;
}

#leave-comment {
    display: flex;
    justify-content: flex-end;
}

#comment-list {
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
}

#comment-container {
    display: none;
}